In [26]:
import pandas as pd
import matplotlib.pyplot as plt

df_test_kaggle = pd.read_csv('../data/test_data-Kaggle-v0.11.csv')

C:\Users\denis\AppData\Local\Temp\ipykernel_41384\3698658165.py:4: DtypeWarning: Columns (3,4,5,6,11,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,48,49,104,111,112,115,116,117,120,121,122,124,127,128,130,131) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test_kaggle = pd.read_csv('../data/test_data-Kaggle-v0.11.csv')

In [2]:
df_test_kaggle.describe()

,Unnamed: 0.1,Unnamed: 0,lat,lon,index,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,...,Plot_area_unified,Living_area_unified,No. of rooms:,Number of apartments:,Last refurbishment:,Year built:,Number of floors:,plz,Number of toilets:,space_cleaned
count,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,...,9.276000e+03,22431.000000,11506.000000,1630.000000,2924.000000,9265.000000,3834.000000,24556.000000,261.0,13038.000000
mean,12281.348917,12281.348917,46.759035,7.949025,41755.119075,0.221945,0.147896,0.090304,46.759079,7.949493,...,9.733515e+03,154.680710,5.150356,4.979141,2013.287620,1984.011333,2.849765,4744.987009,1.0,157.479138
std,7092.250375,7092.250375,0.547245,0.957995,26649.266834,0.208954,0.190445,0.167288,0.547266,0.957776,...,8.402658e+05,117.899645,2.471891,6.351737,10.385572,61.624263,1.349790,2588.112192,0.0,178.174524
min,0.000000,0.000000,45.825091,5.971927,7.000000,0.000000,0.000000,0.000000,45.823861,5.971354,...,1.000000e+00,1.000000,1.000000,1.000000,1900.000000,1021.000000,1.000000,1000.000000,1.0,0.000000
25%,6139.750000,6139.750000,46.218276,7.133160,18853.000000,0.038104,0.000000,0.000000,46.218669,7.132040,...,3.260000e+02,97.000000,3.500000,1.000000,2010.000000,1974.000000,2.000000,1955.000000,1.0,95.000000
50%,12279.500000,12279.500000,46.771719,7.935144,41397.500000,0.157835,0.054028,0.000000,46.771666,7.935004,...,5.820000e+02,129.000000,4.500000,3.000000,2016.000000,2005.000000,3.000000,4710.000000,1.0,128.000000
75%,18423.250000,18423.250000,47.292799,8.891711,67813.000000,0.360398,0.243687,0.092069,47.293157,8.894112,...,9.990000e+02,180.000000,5.500000,7.000000,2020.000000,2022.000000,3.000000,6850.000000,1.0,177.000000
max,24565.000000,24565.000000,47.793642,10.474655,84748.000000,0.932371,1.000000,1.000000,47.793484,10.445192,...,8.092808e+07,4362.000000,42.000000,85.000000,2024.000000,2025.000000,24.000000,9658.000000,1.0,8071.000000

In [7]:
df_test_kaggle[df_test_kaggle['Space extracted'] == 4193.000000]

,Unnamed: 0.1,Unnamed: 0,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,...,Floor space:,Number of floors:,Volume:,plz,Number of toilets:,Gross yield:,Minimum floor space:,space_cleaned,Type:,Hall height:
450,450,450,NaN,NaN,NaN,NaN,NaN,"5612 Villmergen, AG",4193 m²«Bauland mit bewilligtem Projekt» detai...,detail_responsive#description_titleWillkommen ...,...,NaN,NaN,NaN,5612.0,NaN,NaN,NaN,4193.0,NaN,NaN

In [3]:
df_test_kaggle

,Unnamed: 0.1,Unnamed: 0,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,...,Floor space:,Number of floors:,Volume:,plz,Number of toilets:,Gross yield:,Minimum floor space:,space_cleaned,Type:,Hall height:
0,0,0,Suhr,220 m²,733 m²,NaN,On request,"Galeggenweg 95034 Suhr, AG","6.5 rooms, 220 m²«Landhausvilla mit einzigarti...",DescriptionVilla lädt zum Träumen ein Wir ver...,...,NaN,NaN,NaN,5034.0,NaN,NaN,NaN,220.0,NaN,NaN
1,1,1,Suhr,230 m²,702 m²,NaN,On request,"Hofstattmattenweg 195034 Suhr, AG","7.5 rooms, 230 m²«Grosszügiges Anwesen mit tra...","DescriptionLicht, Glas und Holz - ein freisteh...",...,NaN,NaN,NaN,5034.0,NaN,NaN,NaN,230.0,NaN,NaN
2,2,2,Biberstein,131 m²,NaN,NaN,On request,"Gheldweg 105023 Biberstein, AG","4.5 rooms, 131 m²«Terrassenhaus mit traumhafte...",DescriptionLage Das 4.5-Zimmer-Terrassenhaus ...,...,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,131.0,NaN,NaN
3,3,3,Suhr,140 m²,206 m²,140 m²,Immediately,"Obere Dorfstrasse 275034 Suhr, AG","6.5 rooms, 140 m²«Mittelhaus in Suhr an attrak...",DescriptionReiheneinfamilienhaus (Mittelhaus) ...,...,NaN,NaN,NaN,5034.0,NaN,NaN,NaN,140.0,NaN,NaN
4,4,4,Biberstein,156 m²,222 m²,242 m²,On request,"Buhldenstrasse 8d5023 Biberstein, AG","4.5 rooms, 156 m²«Bezugsbereit - ruhige Lage u...",DescriptionStilvolle Liegenschaft an ruhiger L...,...,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,156.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24551,24561,24561,Wildhaus,NaN,NaN,NaN,NaN,"Hof 2, 9658 Wildhaus",1.5 Zimmerwohnung an zentraler Lage mit schöne...,"Description\n""Schöne Kleinwohnung mit Cheminée...",...,NaN,NaN,NaN,9658.0,NaN,NaN,NaN,36.0,Apartment,NaN
24552,24562,24562,Wildhaus,NaN,NaN,NaN,NaN,9658 Wildhaus,OBJEKT IST BEREITS RESERVIERT!!Sie suchen eine...,"Description\n""BEREITS RESERVIERT!""\nOBJEKT IST...",...,NaN,6.0,NaN,9658.0,NaN,NaN,NaN,NaN,Apartment,NaN
24553,24563,24563,Wildhaus,NaN,NaN,NaN,NaN,9658 Wildhaus,Mitten im Ober - Toggenburg ist ein 4 Zimmer C...,"Description\n""Chalet mit grossem Grundstück""\n...",...,NaN,1.0,NaN,9658.0,NaN,NaN,NaN,800.0,Single house,NaN
24554,24564,24564,Wildhaus,NaN,NaN,NaN,NaN,9658 Wildhaus,Zu verkaufen ist hier in Wildhaus eine schön u...,"Description\n""5½ Zimmer Ferienwohnung mit Gara...",...,NaN,4.0,NaN,9658.0,NaN,NaN,NaN,NaN,Apartment,NaN
24555,24565,24565,Wildhaus,NaN,NaN,NaN,NaN,"Steinrütistrasse 28, 9658 Wildhaus",1-Zi-Whg. (EG) / 4-Zi-Whg. (OG) / 2 1/2-Zi-Whg...,"Description\n""Haus mit 2 Einliegerwohnungen in...",...,NaN,NaN,1463 m3,9658.0,NaN,NaN,NaN,NaN,Single house,NaN

In [10]:
df_test_kaggle['type_unified'].value_counts()

type_unified
flat                              11046
detached-house                     7164
villa                              1160
semi-detached-house                1043
duplex-maisonette                   825
attic-flat                          718
penthouse                           685
terrace-house                       556
chalet                              453
stepped-apartment                   236
farmhouse                           184
rustico                             111
loft                                 69
studio                               65
stepped-house                        50
furnished-residential-property       45
castle                               13
attic-room                           11
single-room                           4
secondary-suite                       3
detached-secondary-suite              3
Name: count, dtype: int64

In [27]:
df = pd.read_csv('../data/immo_data_202208_v2.csv')

C:\Users\denis\AppData\Local\Temp\ipykernel_41384\1819881021.py:1: DtypeWarning: Columns (3,4,5,6,11,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,49,50,107,110,114,115,116,119,120,121,124,125,126,128,131,132) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/immo_data_202208_v2.csv')

In [7]:
df['type'].value_counts()

type
flat                              5988
Apartment                         4835
detached-house                    3560
Single house                      1515
villa                              718
semi-detached-house                592
penthouse                          551
Villa                              537
terrace-house                      523
Attic flat                         451
duplex-maisonette                  430
Chalet                             413
chalet                             284
Duplex                             283
Row house                          277
Bifamiliar house                   272
attic-flat                         239
Multi-family house                 167
stepped-apartment                  140
Roof flat                          114
farmhouse                          110
Terrace flat                        75
Studio                              69
rustico                             65
stepped-house                       64
Farm house                          62
studio                              27
loft                                26
furnished-residential-property      17
Loft                                17
Terrace house                       15
castle                               9
Furnished dwelling                   8
attic-room                           6
Attic                                6
detached-secondary-suite             4
Rustic house                         4
Castle                               3
secondary-suite                      1
single-room                          1
Hobby room                           1
Granny flat                          1
Cellar compartment                   1
Name: count, dtype: int64

In [8]:
df['type_unified'].value_counts()

type_unified
flat                              10824
detached-house                     5514
villa                              1255
semi-detached-house                 869
duplex-maisonette                   713
chalet                              697
attic-flat                          690
penthouse                           665
terrace-house                       538
stepped-apartment                   215
farmhouse                           172
studio                               96
rustico                              69
stepped-house                        64
loft                                 43
furnished-residential-property       25
castle                               12
attic-room                           12
detached-secondary-suite              4
single-room                           3
secondary-suite                       1
Name: count, dtype: int64

In [23]:
df_test_kaggle['type_unified'] = df_test_kaggle['type_unified'].str.lower()

In [13]:
# Unique to set 1 (values in 'Type:' not in 'type')
unique_to_set_1 = df_test_kaggle[~df_test_kaggle['type_unified'].isin(df['type'])]['type_unified'].unique()

# Unique to set 2 (values in 'type' not in 'Type:')
unique_to_set_2 = df[~df['type'].isin(df_test_kaggle['type_unified'])]['type'].unique()

# Print the results
print("Unique values in set 1:", unique_to_set_1)
print("Unique values in set 2:", unique_to_set_2)

Unique values in set 1: [nan]
Unique values in set 2: ['Multi-family house' 'Apartment' 'Attic flat' 'Villa'
 'Furnished dwelling' 'Duplex' 'Row house' 'Bifamiliar house'
 'Single house' 'Loft' 'Studio' 'Terrace flat' 'Roof flat' 'Farm house'
 'Terrace house' 'Castle' 'Chalet' 'Attic' 'Rustic house' 'Hobby room'
 'Granny flat' 'Cellar compartment']

In [28]:
# Unique to set 1 (values in 'Type:' not in 'type')
unique_to_set_1 = df_test_kaggle[~df_test_kaggle['type_unified'].isin(df['type_unified'])]['type_unified'].unique()

# Unique to set 2 (values in 'type' not in 'Type:')
unique_to_set_2 = df[~df['type_unified'].isin(df_test_kaggle['type_unified'])]['type_unified'].unique()

# Print the results
print("Unique values in set 1:", unique_to_set_1)
print("Unique values in set 2:", unique_to_set_2)

Unique values in set 1: [nan]
Unique values in set 2: []

In [7]:
list(df_test_kaggle.columns)

['Unnamed: 0.1',
 'Unnamed: 0',
 'Municipality',
 'Living space',
 'Plot area',
 'Floor space',
 'Availability',
 'location',
 'description',
 'detailed_description',
 'url',
 'table',
 'Floor',
 'detail_responsive#municipality',
 'detail_responsive#surface_living',
 'detail_responsive#floor',
 'detail_responsive#available_from',
 'Gemeinde',
 'Wohnfläche',
 'Stockwerk',
 'Nutzfläche',
 'Verfügbarkeit',
 'Grundstücksfläche',
 'detail_responsive#surface_property',
 'detail_responsive#surface_usable',
 'Commune',
 'Surface habitable',
 'Surface du terrain',
 'Surface utile',
 'Disponibilité',
 'Étage',
 'Comune',
 'Superficie abitabile',
 'Disponibilità',
 'Gross return',
 'Piano',
 'Superficie del terreno',
 'Superficie utile',
 'Municipality_merged',
 'Floor_merged',
 'Living_space_merged',
 'Floor_space_merged',
 'Plot_area_merged',
 'Availability_merged',
 'location_parsed',
 'title',
 'details',
 'address',
 'link',
 'details_structured',
 'lat',
 'lon',
 'index',
 'ForestDensityL',
 'ForestDensityM',
 'ForestDensityS',
 'Latitude',
 'Locality',
 'Longitude',
 'NoisePollutionRailwayL',
 'NoisePollutionRailwayM',
 'NoisePollutionRailwayS',
 'NoisePollutionRoadL',
 'NoisePollutionRoadM',
 'NoisePollutionRoadS',
 'PopulationDensityL',
 'PopulationDensityM',
 'PopulationDensityS',
 'RiversAndLakesL',
 'RiversAndLakesM',
 'RiversAndLakesS',
 'WorkplaceDensityL',
 'WorkplaceDensityM',
 'WorkplaceDensityS',
 'Zip',
 'distanceToTrainStation',
 'gde_area_agriculture_percentage',
 'gde_area_forest_percentage',
 'gde_area_nonproductive_percentage',
 'gde_area_settlement_percentage',
 'gde_average_house_hold',
 'gde_empty_apartments',
 'gde_foreigners_percentage',
 'gde_new_homes_per_1000',
 'gde_politics_bdp',
 'gde_politics_cvp',
 'gde_politics_evp',
 'gde_politics_fdp',
 'gde_politics_glp',
 'gde_politics_gps',
 'gde_politics_pda',
 'gde_politics_rights',
 'gde_politics_sp',
 'gde_politics_svp',
 'gde_pop_per_km2',
 'gde_population',
 'gde_private_apartments',
 'gde_social_help_quota',
 'gde_tax',
 'gde_workers_sector1',
 'gde_workers_sector2',
 'gde_workers_sector3',
 'gde_workers_total',
 'Space extracted',
 'rooms',
 'plz_parsed',
 'type_unified',
 'Floor_unified',
 'Plot_area_unified',
 'Living_area_unified',
 'provider',
 'space',
 'address_s',
 'No. of rooms:',
 'Number of apartments:',
 'Surface living:',
 'Land area:',
 'Room height:',
 'Last refurbishment:',
 'Year built:',
 'features',
 'description_detailed',
 'Floor space:',
 'Number of floors:',
 'Volume:',
 'plz',
 'Number of toilets:',
 'Gross yield:',
 'Minimum floor space:',
 'space_cleaned',
 'Type:',
 'Hall height:']

In [18]:
set(df_test_kaggle["type_unified"].unique())

{'attic-flat',
 'attic-room',
 'castle',
 'chalet',
 'detached-house',
 'detached-secondary-suite',
 'duplex-maisonette',
 'farmhouse',
 'flat',
 'furnished-residential-property',
 'loft',
 nan,
 'penthouse',
 'rustico',
 'secondary-suite',
 'semi-detached-house',
 'single-room',
 'stepped-apartment',
 'stepped-house',
 'studio',
 'terrace-house',
 'villa'}

In [20]:
set(df["type_unified"].unique())

{'attic-flat',
 'attic-room',
 'castle',
 'chalet',
 'detached-house',
 'detached-secondary-suite',
 'duplex-maisonette',
 'farmhouse',
 'flat',
 'furnished-residential-property',
 'loft',
 'penthouse',
 'rustico',
 'secondary-suite',
 'semi-detached-house',
 'single-room',
 'stepped-apartment',
 'stepped-house',
 'studio',
 'terrace-house',
 'villa'}

In [21]:
set(df_test_kaggle["type_unified"].unique()).intersection(set(df["type_unified"].unique()))

{'attic-flat',
 'attic-room',
 'castle',
 'chalet',
 'detached-house',
 'detached-secondary-suite',
 'duplex-maisonette',
 'farmhouse',
 'flat',
 'furnished-residential-property',
 'loft',
 'penthouse',
 'rustico',
 'secondary-suite',
 'semi-detached-house',
 'single-room',
 'stepped-apartment',
 'stepped-house',
 'studio',
 'terrace-house',
 'villa'}