In [3]:
import pandas as pd
import matplotlib.pyplot as plt

df_test_kaggle = pd.read_csv('C:/Users/denis/Downloads/test_data-Kaggle-v0.11.csv/test_data-Kaggle-v0.11.csv')

C:\Users\denis\AppData\Local\Temp\ipykernel_35392\2921688909.py:4: DtypeWarning: Columns (3,4,5,6,11,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,48,49,104,111,112,115,116,117,120,121,122,124,127,128,130,131) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test_kaggle = pd.read_csv('C:/Users/denis/Downloads/test_data-Kaggle-v0.11.csv/test_data-Kaggle-v0.11.csv')

In [4]:
df_test_kaggle.describe()

,Unnamed: 0.1,Unnamed: 0,lat,lon,index,ForestDensityL,ForestDensityM,ForestDensityS,Latitude,Longitude,...,Plot_area_unified,Living_area_unified,No. of rooms:,Number of apartments:,Last refurbishment:,Year built:,Number of floors:,plz,Number of toilets:,space_cleaned
count,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,24556.000000,...,9.276000e+03,22431.000000,11506.000000,1630.000000,2924.000000,9265.000000,3834.000000,24556.000000,261.0,13038.000000
mean,12281.348917,12281.348917,46.759035,7.949025,41755.119075,0.221945,0.147896,0.090304,46.759079,7.949493,...,9.733515e+03,154.680710,5.150356,4.979141,2013.287620,1984.011333,2.849765,4744.987009,1.0,157.479138
std,7092.250375,7092.250375,0.547245,0.957995,26649.266834,0.208954,0.190445,0.167288,0.547266,0.957776,...,8.402658e+05,117.899645,2.471891,6.351737,10.385572,61.624263,1.349790,2588.112192,0.0,178.174524
min,0.000000,0.000000,45.825091,5.971927,7.000000,0.000000,0.000000,0.000000,45.823861,5.971354,...,1.000000e+00,1.000000,1.000000,1.000000,1900.000000,1021.000000,1.000000,1000.000000,1.0,0.000000
25%,6139.750000,6139.750000,46.218276,7.133160,18853.000000,0.038104,0.000000,0.000000,46.218669,7.132040,...,3.260000e+02,97.000000,3.500000,1.000000,2010.000000,1974.000000,2.000000,1955.000000,1.0,95.000000
50%,12279.500000,12279.500000,46.771719,7.935144,41397.500000,0.157835,0.054028,0.000000,46.771666,7.935004,...,5.820000e+02,129.000000,4.500000,3.000000,2016.000000,2005.000000,3.000000,4710.000000,1.0,128.000000
75%,18423.250000,18423.250000,47.292799,8.891711,67813.000000,0.360398,0.243687,0.092069,47.293157,8.894112,...,9.990000e+02,180.000000,5.500000,7.000000,2020.000000,2022.000000,3.000000,6850.000000,1.0,177.000000
max,24565.000000,24565.000000,47.793642,10.474655,84748.000000,0.932371,1.000000,1.000000,47.793484,10.445192,...,8.092808e+07,4362.000000,42.000000,85.000000,2024.000000,2025.000000,24.000000,9658.000000,1.0,8071.000000

In [7]:
df_test_kaggle[df_test_kaggle['Space extracted'] == 4193.000000]

,Unnamed: 0.1,Unnamed: 0,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,...,Floor space:,Number of floors:,Volume:,plz,Number of toilets:,Gross yield:,Minimum floor space:,space_cleaned,Type:,Hall height:
450,450,450,NaN,NaN,NaN,NaN,NaN,"5612 Villmergen, AG",4193 m²«Bauland mit bewilligtem Projekt» detai...,detail_responsive#description_titleWillkommen ...,...,NaN,NaN,NaN,5612.0,NaN,NaN,NaN,4193.0,NaN,NaN