In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

# Einlesen der Daten
Auffällig sind schon die fehlenden Werte (Nan)

In [47]:
df = pd.read_csv("../data/immo_data_202208_v2.csv", low_memory=False)
df.drop(["Unnamed: 0.1","Unnamed: 0"], axis=1,inplace=True) #Zwei Spalten für Index ?
df.head()

,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,url,table,...,features,description_detailed,Floor space:,Number of floors:,Volume:,plz,Number of toilets:,Gross yield:,Minimum floor space:,space_cleaned
0,Biberstein,100 m²,NaN,NaN,On request,"5023 Biberstein, AG","3.5 rooms, 100 m²«Luxuriöse Attika-Wohnung mit...",DescriptionLuxuriöse Attika-Wohnung direkt an ...,https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
1,Biberstein,156 m²,222 m²,242 m²,On request,"Buhldenstrasse 8d5023 Biberstein, AG","4.5 rooms, 156 m²«Stilvolle Liegenschaft - ruh...",DescriptionStilvolle Liegenschaft an ruhiger L...,https://www.immoscout24.ch//en/d/terrace-house...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,"5022 Rombach, AG","2.5 rooms, 93 m²«Moderne, lichtdurchflutete At...","detail_responsive#description_title2,5 Zimmerw...",https://www.immoscout24.ch//en/d/penthouse-buy...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5022.0,NaN,NaN,NaN,NaN
3,Biberstein,154 m²,370 m²,257 m²,On request,"Buhaldenstrasse 8A5023 Biberstein, AG","4.5 rooms, 154 m²«AgentSelly - Luxuriöses Eckh...",DescriptionDieses äusserst grosszügige Minergi...,https://www.immoscout24.ch//en/d/detached-hous...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5023.0,NaN,NaN,NaN,NaN
4,Küttigen,142 m²,NaN,NaN,On request,"5022 Rombach, AG","4.5 rooms, 142 m²«MIT GARTENSITZPLATZ UND VIEL...",DescriptionAus ehemals zwei Wohnungen wurde ei...,https://www.immoscout24.ch//en/d/flat-buy-romb...,b <article class=####Box-cYFBPY hKrxoH####><h2...,...,NaN,NaN,NaN,NaN,NaN,5022.0,NaN,NaN,NaN,NaN

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22481 entries, 0 to 22480
Columns: 132 entries, Municipality to space_cleaned
dtypes: float64(63), int64(2), object(67)
memory usage: 22.6+ MB

## Duplikate zählen

In [49]:
print(df.duplicated().sum())

0

Datensatz scheint keine Duplikate zu haben.

## Fehlende Daten zählen

### Insgesamt

In [57]:
print(df.isna().sum().sum())

1179856

Spalten mit den meisten fehlenden Werte

In [84]:
df.isna().sum().sort_values(ascending=False).head(10)

Minimum floor space:      22479
Superficie utile          22475
Gross return              22475
Piano                     22471
Superficie del terreno    22470
Surface utile             22467
Gross yield:              22467
Étage                     22457
Superficie abitabile      22454
Comune                    22454
dtype: int64

Spalten die komplett sind

In [74]:
print((df.isna().sum() == 0).sum())

48

Im Vergleich zum ganzen Dataset

In [83]:
df.shape

(22481, 132)

**Zusammengefasst:** <br>
Es gibt sehr viele fehlende Werte. Wenn man die Spalten untersucht sieht man, dass es Saplten gibt wie "Minimum floor space:" welche 22479 fehlende Werte von 22481 hat. Es gibt aber auch 48 von 132 Spalten die keine fehlende Werte enthalten.

In [64]:
df.loc[df["Minimum floor space:"].isna() == False]

,Municipality,Living space,Plot area,Floor space,Availability,location,description,detailed_description,url,table,...,features,description_detailed,Floor space:,Number of floors:,Volume:,plz,Number of toilets:,Gross yield:,Minimum floor space:,space_cleaned
13553,Ecublens,NaN,NaN,NaN,NaN,"Chem. de Montaney 40, 1024 Ecublens",Très bel appartement de 3 1/2 pièces sis dans ...,"Description\n""Appartement en attique de 3 1/2 ...",https://www.homegate.ch/buy/3001883362,NaN,...,Pets allowed\tBalcony / Terrace\tWashing machi...,"Description\n""Appartement en attique de 3 1/2 ...",100 m2,3.0,NaN,1024.0,NaN,NaN,88 m2,100.0
13554,Ecublens,NaN,NaN,NaN,NaN,"Chem. de Montaney 40, 1024 Ecublens",Très bel appartement de 3 1/2 pièces sis dans ...,"Description\n""Appartement en attique de 3 1/2 ...",https://www.homegate.ch/buy/3002001035,NaN,...,Pets allowed\tBalcony / Terrace\tWashing machi...,"Description\n""Appartement en attique de 3 1/2 ...",100 m2,3.0,NaN,1024.0,NaN,NaN,88 m2,100.0