In [1]:
import os
from src.dataPipeline import DataPipeline
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=10)

os.chdir('..')


columns_to_drop_all = [
'Unnamed: 0.1', 'Unnamed: 0','Municipality','Living space',
'Plot area','Floor space','location','description',
'detailed_description','url','table','detail_responsive#municipality',
'detail_responsive#surface_living','detail_responsive#floor','detail_responsive#available_from',
'Gemeinde','Wohnfläche','Stockwerk','Nutzfläche','Verfügbarkeit','Grundstücksfläche',
'detail_responsive#surface_property','Commune','Surface habitable','Surface du terrain',
'Surface utile','Disponibilité','Étage','Comune','Superficie abitabile','Disponibilità',
'Piano','Superficie del terreno','Superficie utile','Municipality_merged',
'Floor_merged','Living_space_merged','Plot_area_merged','Availability_merged','location_parsed',
'title','price','address','link','details_structured','index',
'Locality','Zip','rooms','Floor_unified','Living_area_unified','space',
'price_s','address_s','Surface living:','Land area:',
'description_detailed','Floor space:','Volume:','plz','Number of toilets:','Gross yield:',
'Minimum floor space:','space_cleaned'

# Temporary columns
, 'Gross return'
, 'details'
, 'Room height:'
#, 'features'
, 'type'
, 'provider' ,
'type_unified',
'Availability',
'Floor',
'detail_responsive#surface_usable',
'Floor_space_merged',
'lat',
'lon',
'ForestDensityL',
'ForestDensityM',
'ForestDensityS',
'Latitude',
'Longitude',
'NoisePollutionRailwayL',
'NoisePollutionRailwayM',
'NoisePollutionRailwayS',
'NoisePollutionRoadL',
'NoisePollutionRoadM',
'NoisePollutionRoadS',
'PopulationDensityL',
'PopulationDensityM',
'PopulationDensityS',
'RiversAndLakesL',
'RiversAndLakesM',
'RiversAndLakesS',
'WorkplaceDensityL',
'WorkplaceDensityM',
'WorkplaceDensityS',
'distanceToTrainStation',
'gde_area_agriculture_percentage',
'gde_area_forest_percentage',
'gde_area_nonproductive_percentage',
'gde_area_settlement_percentage',
'gde_average_house_hold',
'gde_empty_apartments',
'gde_foreigners_percentage',
'gde_new_homes_per_1000',
'gde_politics_bdp',
'gde_politics_cvp',
'gde_politics_evp',
'gde_politics_fdp',
'gde_politics_glp',
'gde_politics_gps',
'gde_politics_pda',
'gde_politics_rights',
'gde_politics_sp',
'gde_politics_svp',
'gde_pop_per_km2',
'gde_population',
'gde_private_apartments',
'gde_social_help_quota',
'gde_tax',
'gde_workers_sector1',
'gde_workers_sector2',
'gde_workers_sector3',
'gde_workers_total',
'plz_parsed',
'No. of rooms:',
'Number of apartments:',
'Last refurbishment:',
'Number of floors:',
'Year built:',
'Space extracted',
'Plot_area_unified',

]

dp = DataPipeline()
dp.readCsv("data/immo_data_202208_v2.csv")
dp.dropColumns(columns_to_drop_all)

df = dp.getData()

C:\FHNW_Programmiersachen\5_Sem\immo_challenge\src\dataPipeline.py:39: DtypeWarning: Columns (3,4,5,6,11,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,49,50,107,110,114,115,116,119,120,121,124,125,126,128,131,132) have mixed types. Specify dtype option on import or set low_memory=False.
  self.data = pd.read_csv(filePath)

In [2]:
df

       price_cleaned                                           features
0          1150000.0                                                NaN
1          1420000.0                                                NaN
2           720000.0                                                NaN
3          1430000.0                                                NaN
4           995000.0                                                NaN
...              ...                                                ...
22476       475000.0  Pets allowed\tCable TV\tChild-friendly\tParkin...
22477      1490000.0  Balcony / Terrace\tWashing machine\tView\tWhee...
22478      1450000.0   Balcony / Terrace\tChild-friendly\tParking space
22479      1290000.0  Balcony / Terrace\tView\tWheelchair access\tQu...
22480       780000.0  Balcony / Terrace\tFireplace\tQuiet neighborho...

[22481 rows x 2 columns]

In [3]:
import pandas as pd
feature_dummies = df['features'].str.get_dummies(sep='\t')

# Concatenate the original dataframe with the new binary columns
df_new = pd.concat([df, feature_dummies], axis=1)

# Drop the original 'features' column, if desired
df_new = df_new.drop(columns=['features'])

df_new

,price_cleaned,Balcony / Terrace,Cable TV,Child-friendly,Connected land for building,Corner house,Elevator,Fireplace,Garage,Gas connection,...,Raised ground floor,Smoking permitted,Swimming pool,View,Washing machine,Waste water connection,Water connection,Wheelchair access,With a summer house,covered
0,1150000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1420000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,720000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1430000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,995000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22476,475000.0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22477,1490000.0,1,0,1,0,0,1,0,1,0,...,0,0,0,1,1,0,0,1,0,0
22478,1450000.0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22479,1290000.0,1,0,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,1,0,0
22480,780000.0,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [1]:
import os
from src.dataPipeline import DataPipeline
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=10)

os.chdir('..')

dp = DataPipeline()
df = dp.runPipeline(normalizeAndStandardize=False)
df

C:\FHNW_Programmiersachen\5_Sem\immo_challenge\src\dataPipeline.py:39: DtypeWarning: Columns (3,4,5,6,11,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,45,46,47,49,50,107,110,114,115,116,119,120,121,124,125,126,128,131,132) have mixed types. Specify dtype option on import or set low_memory=False.
  self.data = pd.read_csv(filePath)
C:\FHNW_Programmiersachen\5_Sem\immo_challenge\src\dataPipeline.py:62: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ]].bfill(axis=1)['Space extracted']
C:\FHNW_Programmiersachen\5_Sem\immo_challenge\src\dataPipeline.py:67: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ]].bfill(axis=1)['Plot_area_unified']
C:\FHNW_Programmiersachen\5_Sem\immo_challenge\src\dataPipeline.py:73: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ]].bfill(axis=1)['Availability']
C:\FHNW_Programmiersachen\5_Sem\immo_challenge\src\dataPipeline.py:77: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ]].bfill(axis=1)['No. of rooms:']

,price_cleaned,region_group,Balcony / Terrace,Cable TV,Child-friendly,Connected land for building,Corner house,Elevator,Fireplace,Garage,...,Raised ground floor,Smoking permitted,Swimming pool,View,Washing machine,Waste water connection,Water connection,Wheelchair access,With a summer house,covered
0,1150000.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1420000.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,720000.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1430000.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,995000.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15065,475000.0,49.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15066,1490000.0,14.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
15067,1450000.0,14.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15068,1290000.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
15069,780000.0,14.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0